h2{
    color: rgb(0, 0, 185);
    margin: 15px;
    padding: 15px;
    text-align: center;
}

form{
    text-align: left;
    padding: 20px;
    background-color: rgb(199, 199, 255);
    color: rgb(4, 33, 202);
    font-size: 18px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    border: 3px solid black;
    width: 35%;
}

header{
    border: 3px solid black;
    margin-left: 0.1px;
    margin-bottom: 10px;
    width: 35%;
    background-color: rgb(199, 199, 255);
}

